{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1 class="my-4">{% trans "Tasks" %}</h1>
    <a class="nav-link" href="/tasks/create/">{% trans "Create task" %}</a>

     <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
              {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
              {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
            </form>
        </div>
    </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Executor" %}</th>
            <th>{% trans "Date created" %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for task in object_list %}
            <tr>
              <td>{{ task.id }}</td>
              <td><a href="/tasks/{{ task.id }}/">{{ task.name }}</a></td>
              <td>{{ task.status }}</td>
              <td>{{ task.author }}</td>
              <td>{{ task.executor }}</td>
              <td>{{ task.date_created }}</td>
              <td>
                <a href="/tasks/{{ task.id }}/update/">{% trans "Edit" %}</a>
                <br>
                <a href="/tasks/{{ task.id }}/delete/">{% trans "Delete" %}</a>
              </td>
          {% endfor %}
            </tr>
        </tbody>
      </table>
{% endblock %}