{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">{% trans "Task manager" %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userlist' %}">{% trans "Users" %}</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/statuses">{% trans "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/labels">{% trans "Labels" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tasks">{% trans "Tasks" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'create' %}">{% trans "Sign Up" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>