{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1 class="my-4">{% trans "Users" %}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Date joined" %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in object_list %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }} {{ user.last_name }}</td>
              <td>{{ user.date_joined }}</td>
              <td>
                <a href="/users/{{ user.id }}/update/">{% trans "Edit" %}</a>
                <br>
                <a href="/users/{{ user.id }}/delete/">{% trans "Delete" %}</a>
              </td>
          {% endfor %}
            </tr>
        </tbody>
      </table>
{% endblock %}